* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)), url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    margin: 22px 0;
    width: 66vh;
    min-height: 90vh;
    position: relative;
    perspective: 800px;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 2s;
    background: linear-gradient(rgba(255,255,255, 0.2), rgba(255,255,255, 0.2)), url(../img/card-cover.jpg) no-repeat;
    background-size: cover;
    background-position-x: 0vh;
    border-radius: 18px 0 0 18px;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 2s;
    background: linear-gradient(rgba(255,255,255, 0.2), rgba(255,255,255, 0.2)), url(../img/card-cover.jpg) no-repeat;
    background-size: cover;
    background-position-x: -33vh;
    border-radius: 0 18px 18px 0;
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateZ(-500px);
    transition: transform 1s;
}

.card-body:hover .left-side {
    transform: rotateY(-360deg);
    border-radius: 22px;
}
.card-body:hover .right-side {
    transform: rotateY(360deg);
    border-radius: 22px;
}

.card-body:hover .back-side {
    transform: translateZ(0);
    z-index: 1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-content {
    background-color: #d1dcf3;
    width: 30%;
    border-radius: 7px;
    margin-bottom: 14px;
    box-shadow: 4px 4px 4px 4px rgba(210, 221, 243, 0.4);
}

.card-content img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.team-lead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.card-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}


@media(max-width: 769px) {
    h1 {
        font-size: 20px;
    }

    .card-content {
        width: 90%;
    }

    .card-body {
        min-height: 70vh;
    }

    .card-content {
        width: 22%;
        font-size: 10px;

    }

    .row .card-content {
        margin-bottom: 18px;
    }

    .team-members {
        padding: 5px 15px !important;
    }

    .right-side {
        background-repeat: repeat;
    }
}

@media(max-width: 426px) {
    h1 {
        font-size: 16px;
    }

    .card-content {
        width: 30%;
    }

    .right-side {
        background-repeat: no-repeat;
        background-position-x: right;
    }
}

@media(max-width: 376px) {
    h1 {
        font-size: 13px;
    }

    .right-side {
        background-repeat: repeat;
        background-position-x: -24vh;
    }
}
